menu "LIMITZ DMX512"

	
	config LMTZ_DMX_U1_EN
		bool
		prompt "Enable DMX Universe 1"
		default n
	
	menu "Configuration"
		depends on LMTZ_DMX_U1_EN

		config LMTZ_DMX_U1_PIN
			int
			prompt "GPIO pin"
			default 17

		config LMTZ_DMX_U1_UART
			int
			prompt "UART number"
			default 2

		config LMTZ_DMX_U1_NUM_CHANNELS
			int "Number of channels in a frame"
			default 32
			range 24 512
			help
				Maximum of 512 allowed
	
		config LMTZ_DMX_NUM_BUFFERS
			int "Number of frame buffers"
			default 2
			range 1 8
	endmenu
endmenu
