menu "LMTZ Components"
	menu "Ledstrip APA102"
		config APA102_NUM_LEDS
			int
			prompt "Number of leds"
			default 8
	
		choice APA102_SPI_HOST
			prompt "SPI host"
			default APA102_SPI_HOST_HSPI
	
			config APA102_SPI_HOST_HSPI
				bool "HSPI"
			config APA102_SPI_HOST_VSPI
				bool "VSPI"
		endchoice

		config APA102_DMA_CHANNEL
			int
			prompt "SPI: DMA channel"
			default 2
	
		config APA102_MOSI_PIN
			int
			prompt "SPI: MOSI pin"
			default 13
			
		config APA102_SCLK_PIN
			int
			prompt "SPI: SCLK pin"
			default 14

		config APA102_CLOCK_SPEED
			int
			prompt "SPI: Clock speed"
			default 1000000
	endmenu

	menu "Battery Monitor"
		config BATTMON_SENSE_PIN
			int
			prompt "ADC voltage sense pin"
			default 34
	endmenu

endmenu
